<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <!-- useful page: https://stackoverflow.com/questions/6121725/favicon-ico-or-png-correct-tags -->
    <!-- <link rel="shortcut icon" href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/images/logo.png' | absolute_url }}{% endif %}" type="image/x-icon"> -->
    <link rel='shortcut icon' type='image/x-icon' href='../assets/images/favicon.ico'> <!-- IE -->
</head>
